$bgColor: #242a31;
$headlineColor: #f5f5f7;
$textColor: #afafb1;

$linkColor: #455a72;
$linkColorActive: #698eb9;

$colorBgCode: hsl(214, 16%, 25%);
$colorAbbr: rgba(0, 0, 0, 0.5);
$colorBgHR: rgba(0, 0, 0, 0.2);
$colorTdTh: rgba(0, 0, 0, 0.1);
$colorBgMark: rgb(255, 255, 0);
