@import 'customColors';

.header {
  background-color: lighten($color: $bgColor, $amount: 5%);
  margin-bottom: 1.45rem;
}

.h1 {
  margin: 0;
}

.titleLink {
  color: #fff;
  text-decoration: none;
}
