.buttonToTop {
  background-color: #ffffff33;
  border: 2px solid #ffffff11;
  border-radius: 0.25em;
  color: #fff;
  margin: 1.5rem 0 3rem;
  padding: 0.25em 0.75em;
}

// .emojiTop {
//   &::before,
//   &::after {
//     content: '';
//   }
// }
